<section class="hero-section">
  <img src="../assets/img/hero character photo.png" alt="" />
  <div id="outerContainer">
    <div id="innerContainerTop">
      <div id="innerContainerTopLeft">
        <span id="heroIam">I am</span>
      </div>
      <div id="innerContainerTopRight">
        <span id="heroName">Dominik Roth</span>
        <span id="heroJobtitle">Frontend Developer</span>
      </div>
    </div>
    <div id="innerContainerBottom">
      <button class="btn-primary" id="heroBtn">Lets talk!</button>
    </div>
  </div>
 <img id="shapeDivider" src="../../assets/img/hero-vector.png" alt="">
</section>
