<header>
  <span>David</span>
  <img
  *ngIf="menuOpen"
    [src]="'../assets/img/' + 'burgerMenuOpen.png'"
    class="burger-menu"
    (click)="toggleMenu()"
    alt="Menu"
  />
  <img 
  *ngIf="!menuOpen"
  [src]="'../assets/img/' + currentMenuImg"
  class="burger-menu"
  (click)="toggleMenu()"
  alt="Menu"
/>
</header>
<div class="mobileMenu" [ngClass]="menuOpen ? 'showMobileMenu' : ''">
  <a href="#">About me</a>
  <a href="#">My skills</a>
  <a href="#">Portfolio</a>
  <a href="#">Contact</a>
</div>
